<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="verbose" value="False"/>
		<arg name="gui" value="True"/>
	</include>

	<!-- Convert an xacro and put on parameter server -->
	<arg name="mass" default="0.1"/>
	<arg name="stiffness" default="5"/>
	<arg name="damping" default="0.03"/>
	<param name="robot_description" 
		command="$(find xacro)/xacro $(find flexible_environment)/urdf/flexible_environment.xacro"/>

	<!-- Spawn a robot into Gazebo -->
	<node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model window_environment" />

</launch>